[submodule "global/pkgbuild/digimend-kernel-drivers-dkms-git"]
	path = global/pkgbuild/digimend-kernel-drivers-dkms-git
	url = https://aur.archlinux.org/digimend-kernel-drivers-dkms-git.git
[submodule "global/pkgbuild/sxiv-git"]
	path = global/pkgbuild/sxiv-git
	url = https://git.adtac.in/pkgbuild/sxiv-git.git
[submodule "global/pkgbuild/bluez-git"]
	path = global/pkgbuild/bluez-git
	url = https://git.adtac.in/pkgbuild/bluez-git.git
[submodule "global/pkgbuild/wf-recorder-git"]
	path = global/pkgbuild/wf-recorder-git
	url = https://aur.archlinux.org/wf-recorder-git.git
[submodule "global/pkgbuild/v4l2loopback-dkms-git"]
	path = global/pkgbuild/v4l2loopback-dkms-git
	url = https://aur.archlinux.org/v4l2loopback-dkms-git.git
[submodule "global/pkgbuild/zfs-linux"]
	path = global/pkgbuild/zfs-linux
	url = https://aur.archlinux.org/zfs-linux.git
[submodule "global/pkgbuild/zfs-utils"]
	path = global/pkgbuild/zfs-utils
	url = https://aur.archlinux.org/zfs-utils.git
[submodule "global/pkgbuild/docker-rootless-extras-bin"]
	path = global/pkgbuild/docker-rootless-extras-bin
	url = https://aur.archlinux.org/docker-rootless-extras-bin.git
[submodule "global/pkgbuild/pulseaudio-modules-bt"]
	path = global/pkgbuild/pulseaudio-modules-bt
	url = https://aur.archlinux.org/pulseaudio-modules-bt.git
[submodule "global/pkgbuild/spotify"]
	path = global/pkgbuild/spotify
	url = https://aur.archlinux.org/spotify.git
