[submodule "global/pkgbuild/libldac"]
	path = global/pkgbuild/libldac
	url = https://aur.archlinux.org/libldac.git
	ignore = dirty
[submodule "global/pkgbuild/pulseaudio-modules-bt-git"]
	path = global/pkgbuild/pulseaudio-modules-bt-git
	url = https://aur.archlinux.org/pulseaudio-modules-bt-git.git
	ignore = dirty
[submodule "global/pkgbuild/digimend-kernel-drivers-dkms-git"]
	path = global/pkgbuild/digimend-kernel-drivers-dkms-git
	url = https://aur.archlinux.org/digimend-kernel-drivers-dkms-git.git
	ignore = dirty
[submodule "global/pkgbuild/sxiv-git"]
	path = global/pkgbuild/sxiv-git
	url = https://git.adtac.in/pkgbuild/sxiv-git.git
	ignore = dirty
[submodule "global/pkgbuild/bluez-git"]
	path = global/pkgbuild/bluez-git
	url = https://git.adtac.in/pkgbuild/bluez-git.git
	ignore = dirty
[submodule "global/pkgbuild/wf-recorder-git"]
	path = global/pkgbuild/wf-recorder-git
	url = https://aur.archlinux.org/wf-recorder-git.git
	ignore = dirty
[submodule "global/pkgbuild/v4l2loopback-dkms-git"]
	path = global/pkgbuild/v4l2loopback-dkms-git
	url = https://aur.archlinux.org/v4l2loopback-dkms-git.git
	ignore = dirty
[submodule "global/pkgbuild/ncspot"]
	path = global/pkgbuild/ncspot
	url = https://aur.archlinux.org/ncspot.git
[submodule "global/pkgbuild/zfs-linux"]
	path = global/pkgbuild/zfs-linux
	url = https://aur.archlinux.org/zfs-linux.git
[submodule "global/pkgbuild/zfs-utils"]
	path = global/pkgbuild/zfs-utils
	url = https://aur.archlinux.org/zfs-utils.git
