[Unit]
Description=arch-1 nextcloud sync
After=network.target
Requires=network.target

[Service]
Type=simple
TimeoutStartSec=0
User=adtac
Group=adtac
Restart=always
RestartSec=300s
ExecStart=bash -c "/home/$(whoami)/bin/nextcloud-sync"

[Install]
WantedBy=multi-user.target
