[Unit]
Description=rclone mount
After=network-online.target

[Service]
Type=simple
ExecStartPre=-/bin/fusermount -uz /mnt/media
ExecStart=/usr/bin/rclone mount \
          --config=/home/adtac/.rclone.conf \
          --read-only \
          --dir-cache-time 2m \
          --timeout 1h \
          --allow-other \
          --drive-chunk-size 256M \
          crypt: /mnt/media
ExecStop=-/bin/fusermount -uz /mnt/media
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
