[Unit]
Description=tarsnap backup
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/home/adtac/bin/xtarsnap new -p -k %h/.config/tarsnap/wkey -d %h/docs

[Install]
WantedBy=default.target
