[Unit]
Description=psql backup timer
After=network.service

[Timer]
AccuracySec=1sec
OnCalendar=*-*-* 01:00:00
Unit=psql-backup.service
Persistent=true

[Install]
WantedBy=default.target
