[Unit]
Description=run gpg-agent startup trigger every hour
Wants=graphical.target
After=graphical.target

[Timer]
OnActiveSec=0min
AccuracySec=1sec
OnCalendar=*:00:00
Unit=tarsnap.service
Persistent=true

[Install]
WantedBy=default.target
