[Unit]
Description=gpg-agent startup trigger
Wants=graphical.target
After=graphical.target

[Service]
Type=simple
ExecStart=/bin/bash -c "echo UPDATESTARTUPTTY | gpg-connect-agent"

[Install]
WantedBy=default.target
