[Unit]
Description=rclone mount
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
RestartSec=30
ExecStartPre=-/usr/bin/fusermount -uz %h/media/music
ExecStart=/usr/bin/rclone mount crypt:music %h/media/music \
          --config=%h/.config/rclone/secrets \
          --dir-cache-time 5m \
          --timeout 5m \
          --allow-other \
          --drive-chunk-size 256M

ExecStop=-/usr/bin/fusermount -uz %h/media/music

[Install]
WantedBy=multi-user.target
