[Unit]
Description=tarsnap backup
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/home/adtac/bin/xtarsnap new -k tarsnap.com/key -d %h/docs

[Install]
WantedBy=default.target
